<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EventManagementSystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Place</a>
                    <div class="dropdown-menu">
                        @*Here lies JS code*@
                    </div>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>

            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>


<script>
        /*This script is for dynamic dropdown menu*/
    let placeDropdownMenu = document.querySelector(".dropdown-menu");

        fetch(window.location.origin + "/api/placetype")
            .then((res) => res.json())
            .then((data) => {
                for (i = 0; i < data.length; i++) {
                    let newElem = document.createElement("a");
                    newElem.className = "dropdown-item";
                    newElem.setAttribute("href", `/Place/Index/${ data[i].id }`);
                    newElem.innerHTML = data[i].name;
                    placeDropdownMenu.appendChild(newElem);
                }



                let dividerDiv = document.createElement("div");
                dividerDiv.className = "dropdown-divider";
                placeDropdownMenu.appendChild(dividerDiv);

                let createNewPlace = document.createElement("a");
                createNewPlace.className = "dropdown-item";
                createNewPlace.setAttribute("href", "/PlaceType/CreatePlacetype");
                createNewPlace.innerHTML = "Create New!";
                placeDropdownMenu.appendChild(createNewPlace);
            }
         );
</script>