@model EMS_EventManagementSystem.ViewModels.PlaceCardListViewModel
@{
    ViewData["Title"] = "PlaceCardList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>@Model.Placetype.Name.ToString()</h3>
<hr />

@if (!Model.Places.Any())
{
    <p class="text-lg-center">Sorry there is no place registered yet!</p>
}
else
{
<div class="row" style="margin:auto">
    @foreach (var place in Model.Places)
    {
        <div class="card border-success mb-3" style="max-width: 20rem; margin:auto;">
            <div class="card-header">@Model.Placetype.Name.ToString()</div>
            <div class="card-body">
                <h4 class="card-title">@place.Name</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    }
</div>
}